In [6]:
ip=input("enter the ")
x=ip.index("@")
print(ip[x+1:len(ip)-4],end='')

enter the abc@google.com
google

In [15]:
fo=input("enter the string")
words = [j for j in fo.split(",")]

print(",".join(sorted(list(set(words)))))

enter the stringwithout,hello,bag,world
bag,hello,without,world

In [16]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

thisset = {"apple", "banana", "cherry"}

thisset.update(["orange", "mango", "grapes"])

print(thisset)


thisset = {"apple", "banana", "cherry"}

print(len(thisset))

thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'orange', 'banana', 'cherry', 'apple'}
{'banana', 'mango', 'grapes', 'apple', 'orange', 'cherry'}
3
{'cherry', 'apple'}

In [7]:
a=[1,2,3,4,5,7,8]
n=len(a)
b=sum(a)
total=(n+1)*(n+2)/2
miss=total-b
print(int(miss))

6

In [9]:
duplicate=[]
original=[12, 24, 35, 24, 88, 120, 155, 88, 120, 155]
for i in original:
    if i not in duplicate:
        duplicate.append(i)
print(duplicate)

[12, 24, 35, 88, 120, 155]